version: '3.8'

services:
  backend:
    build:
      context: ./backend       # path to your backend folder
    container_name: backend
    ports:
      - "3000:3000"
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend      # path to your frontend folder
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
