version: '3.8'

services:
  backend1:
    build: ./backend
    container_name: backend1
    networks:
      - app-network

  backend2:
    build: ./backend
    container_name: backend2
    networks:
      - app-network

  loadbalancer:
    image: nginx:alpine
    container_name: loadbalancer
    ports:
      - "3000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend1
      - backend2
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - loadbalancer
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
